.visionMission {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    padding-bottom:125px;

}
.FullvisionandMission {
    background-color: rgb(240, 240, 240);
}
.vision, .Mission {
    background: rgb(255, 152, 0);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 20px;
    padding: 25px;
    max-width: 400px;
    text-align: left;
    transition: transform 0.3s;
    color: rgb(255, 255, 255);
}
    .vision:hover,
    .Mission:hover {
        transform: translateY(-6px);
    }

    .vision h3,
    .Mission h3 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 15px;
        color: #fff;
    }
    .vision p,
    .Mission p {
        font-size: 16px;
        line-height: 1.6;
        color: #fff;
    }
.visionandMission{
    display:flex;
    justify-content:center;
    justify-items:center;
}
    .visionandMission h2 {
        font-weight: 700;
        font-size: 2rem;
        color: #222;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
        text-align: center;
        display: inline-block;
        margin-top: 100px;
        margin-bottom:10px;
        z-index: 1;
    }

[dir="rtl"] .vision h3,
[dir="rtl"] .Mission h3 {
    text-align: right;
}

