/* ================== LAYOUT ================== */

.Fullcontainer {
    background-image: url('/images/background/6.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    gap: clamp(40px, 8vw, 200px);
    padding: clamp(5px, 2vw, 50px);
    align-items: flex-start;
  
}

/* ================== TEXT SIDE ================== */

.text {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: flex-start;
    
}

.subtitle {
    color: #ff8a00;
    font-weight: 600;
    line-height: 1.2em;
    font-size: 1.2rem;
    margin-top: 50px;
    
}

.title {
    font-size: clamp(22px, 4vw, 28px);
    margin: 20px 0 65px;
    text-transform: uppercase;
    position: relative;
    display: block;
    font-size: 30px;
    line-height: 1.2em;
    color: #f2f2f2;
    font-weight: 700;
    font-family: "Arimo", sans-serif;
  
}
.paragraph {
    position: relative;
    display: block;
    font-size: 26px;
    line-height: 30px;
    color: #f2f2f2;
    font-weight: 600;
    margin-bottom:75px;
}
.afterTitle {
    margin-top: 0;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
}

.textParagraph {
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
}

.highlight {
    position: relative;
    display: block;
    font-size: 84px;
    line-height: 1em;
    color: #ff8a00;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 40px;
}

.phone {
    font-size: clamp(18px, 4vw, 30px);
    line-height: 1.2em;
    color: #f2f2f2;
    font-weight: 700;
    font-family: "Arimo", sans-serif;
    margin-bottom: 30px;
}

/* ================== FORM CONTAINER ================== */

.container {
    background-color: #FFF;
    width: 100%;
    max-width: 600px;
    height: 810px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    margin-bottom: -120px;
    border-radius: 30px;
    padding: 25px;
}

/* ================== FORM ================== */

.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    background: #f7f7f7;
    width: 100%;
    height: 780px;
    border-radius: 55px;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 10px 30px rgb(0 0 0 / .1);
}

    .form input,
    .form select,
    .form textarea {
        padding: 14px 18px;
        border-radius: 25px;
        border: 1px solid rgb(204, 204, 204);
        font-size: 16px;
        outline: none;
        transition: 0.3s;
        background: rgb(254, 254, 254);
        margin-top: 35px;
        border-radius: 20px;
        width: 85%;
        height: 8%;
        text-align: start;
        padding-left: 15px;
        font-weight: 600;
    }

    .form textarea {
        height: 15%;
        padding-top: 15px;
    }

    .form select {
        background-color: orange;
        cursor: pointer;
    }

        .form select option {
            border: 2px solid black;
            border-radius: 10px;
        }

/* ================== BUTTON ================== */

.submitBtn {
    background-color: orange;
    margin-top: 35px;
    width: 85%;
    height: 8%;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
}

    .submitBtn:hover {
        background-color: #e67600;
    }

/* ================== RESPONSIVE ================== */
.errorText {
    color: red;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 10px;
}
@media (max-width: 900px) {
    .Fullcontainer {
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 30px;
    }

    .text {
        align-items: center;
    }
}
