.FullAboutQuestion {
    width: 100%;
    padding-top: 50px;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.TextQuestion {
    background-color: rgb(240, 240, 240);
    text-align: center;
    padding-top: 110px;
    font-weight: 700;
    font-size: 2rem;
    color: rgb(34, 34, 34);
    text-shadow: rgba(0, 0, 0, 0.15) 1px 1px 3px;
}

.AboutQuestion {
    width: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.Card {
    background-color: rgb(84, 84, 84);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 16px;
    margin-bottom: 20px;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s;
    color: rgb(255, 255, 255);
    width: 40%;
    max-height: 80px; /* ارتفاع افتراضي */
}
    /* لما يتم الضغط على الكارد */
    .Card.expanded {
        max-height: 200px; /* ارتفاع أكبر لعرض الإجابة */
    }

/* السؤال يبقى ظاهر طول الوقت */
.question {
    font-weight: bold;
}

/* الإجابة مخفية افتراضياً */
.answer {
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* تظهر الإجابة لما الكارد يكون expanded */
.Card.expanded .answer {
    opacity: 1;
}

@media (max-width: 623px) {
    .Card {
        width:80%;
    }
}

@media (max-width: 300px) {
    .Card {
        width: 90%;
    }
}


