.AboutProject {
    background-color: rgb(243, 243, 243);
    padding: 100px 20px;
    
}
.ProjectImage {
    color: transparent;
    display: block;
    filter: drop-shadow(rgba(0, 0, 0, 0.25) 0px 20px 40px);

}
.AboutProjectimage {
 
    margin: 0px auto;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    gap: 50px;
    justify-items:center;
    align-items:center;
}


.textProject {
    display: flex;
   width:500px;

    flex-wrap: wrap;
}
.textProject h2 {
    font-weight: 800;
    font-size: 2.1rem;
    color: rgb(34, 34, 34);
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 3px;
    /* margin-bottom: 20px; */
    position: relative;
    display: inline-block;
    padding-bottom: 12px;
    line-height: 1.3;
    margin-bottom:15px;
}
    .textProject p {
        font-size: 17px;
        color: rgb(85, 85, 85);
        line-height: 1.8;
        text-align: justify;
    }
.btn {

    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
    background-color: rgb(255, 122, 0);
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 18px;
    transition: 0.3s;
    text-align: center;
    line-height: 1.2;

}
.textProjectul {
   margin-left:10px;
    font-size: 16px;
    color: rgb(51, 51, 51);
    line-height: 1.8;
    list-style-type: disc; /* bullet عادي */
    text-align: justify;
}
    .textProjectul li {
        font-weight: 500;
    }

        .textProjectul li::marker {
            color: rgb(255, 152, 0); /* أو #ff7a00 */
            font-size: 2em; /* اختياري */
        }
