.banner {
    width: 100%;
    height: 750px; 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.bannerImage {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    transition: opacity 0.8s ease-in-out;
}
.banner::before {
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .70;
    position: absolute;
    z-index:1;
}
.textWrapper {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 300px;
    z-index: 1;
    padding:25px;
    
}
.textWrapper h1 {
        position: relative;
        display: block;
        font-size: 48px;
        color: #fff;
        line-height: 50px;
        font-weight: 500;
        margin-bottom: 35px;
    }
.textWrapper p {
        position: relative;
        display: block;
        font-size: 24px;
        line-height: 40px;
        color: #fff;
        font-weight: 400;
    }

.linkWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-content: center;
    margin-top: 70px;
  
}

.linkWrapper a {
        color: white;
        font-size: 20px;
        text-align: center;
        margin: 0;
    }

.linkWrapper a:hover {
            color: darkorange;
        }

.linkWrapper p {
        color: darkorange;
        font-weight: 700;
    }


