.wrapper {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: 50px 0;
}
.buttonwrapper {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    
}
    .box {
        position: relative; /* مهم جدًا للفيديو */
        width: 400px;
        height: 450px;
        overflow: hidden; /* عشان الفيديو ما يخرجش */
        border: 5px solid #d2691e;
        display: block;
        font-weight: 600;
        color: white; /* محتوى واضح فوق الفيديو */
        box-shadow: 0 8px 25px #9696ffb3;
        border-radius: 15px;
    }
.button {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 145, 77);
    color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 10px 25px;
    font-weight: 500;
    margin: 0px 8px;
    box-shadow: rgba(255, 145, 77, 0.5) 0px 6px 15px;
    transition: 0.3s;
    cursor: pointer;
}


.bgVideo {
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    object-fit: cover; /* الفيديو يملأ div بالكامل */
    border-bottom: 5px solid #d2691e; /* هنا فقط الأسفل */
}

.content {
    z-index:1;
    height:50px;
    width:50px;
   
    text-align: center;
}
.content {
    position: relative; /* مهم عشان يكون عنصر طبيعي أسفل الفيديو */
    z-index: 1; /* بس يبقى فوق أي background لو حابة لاحقًا */
    width: 100%;
    display: flex;
    justify-content: center; /* يوسّط النص أفقياً */
}

.textContent {
    padding: 15px; /* المسافة حول النص */
    text-align: center; /* يوسّط النص داخل div */
}

    .textContent h4 {
        margin: 5px 0;
        font-size: 1.1rem;
        color: #222;
        font-weight: 600;
    }

    .textContent p {
        margin: 0;
        font-size: 0.9rem;
        color: #555;
    }
.title {
    font-size: 28px;
    font-weight: 800;
    color: #222;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 225px;
    margin-bottom: 55px;
    text-align: center;
}